html {
	box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 1.2;
	color: #fff;
	overflow-x: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

ul[class],
ol[class] {
	padding: 0;
}

ul[class] {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 27px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// position: relative;
	overflow-x: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.title {
	font-family: 'Risque', serif;
	font-size: 52px;
	color: #fff;
}

