html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 1.2;
	color: #fff;
	overflow-x: hidden;
	position: relative;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.overflow-hidden {
	overflow: hidden;
}

ul[class],
ol[class] {
	padding: 0;
}

ul[class] {
	list-style: none;
}

a {
	text-decoration: none;
}

.container-block {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 27px;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: clip;
	height: 100vh;
}

.footer {
	flex: 0 0 auto;
}

.title {
	font-family: 'Risque', serif;
	font-size: 52px;
	color: #fff;
}

.container {
	position: relative;
	transition: 1s ease-out;
	-webkit-transition: 1s ease-out;
}


