#snow {
    position: relative;
    z-index: 20;
}

.first-screen {
    background: #141429;
    min-height: 100vh;
    position: relative;
    scroll-snap-align: start;
    height: 100%;
    

    &::before {
        content: '';
        position: absolute;
        background-image: url("../images/first-screen-min.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: 30;
    }

    &__body {
        margin-top: -90px;
        position: relative;
    }

    &__text-block {
        position: relative;
        z-index: 30;
    }

    &__title {
        margin: 90px 0 0 0;
        padding-top: 20vh;
    }

    &__text {
        margin: 13px 0 43px;
        font-family: 'Risque', serif;
    }

    &__btn {
        border-radius: 20px 20px 20px 0px;
        border: 2px solid #FFF;
        background: rgba(196, 196, 196, 0.00);
        color: white;
        font-size: 16px;
        padding: 12px 38px 13px 43px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
        z-index: 30;

        &:hover {
            background-color: #fff;
            transition: .5s;
            color: #000;
        }
    }

    &__arrow {
        display: none;
        animation: arrowmove 1s linear 0s infinite alternate none;
    }

    &__cloud {
        opacity: 0;
    }

    .cloud {

        &__text {
            margin: 0;
        }
    }
}

.header {
    height: 90px;

    &__wrap {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 15px;
        position: relative;
        z-index: 40;
    }

    &__logo {
        margin-top: 25px;
        align-self: flex-end;
        height: 65px;
        filter: drop-shadow(0 0 5px red);
    }

    &__list {
        display: none;
    }
}

.burger-menu {
    position: relative;
    cursor: pointer;
    background-color: #D02B2B;
    width: 60px;
    height: 60px;
    padding: 0 13px;
    border-radius: 100px 0 100px 100px;
    z-index: 50;

    &__item {
        height: 3.6px;
        width: 34px;
        position: absolute;
        background-color: #fff;
        transition: all 0.5s;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:nth-of-type(2) {
            top: calc(50% - 10px);
            left: 50%;
        }

        &:nth-of-type(3) {
            top: calc(50% + 10px);
            left: 50%;
        }
    }

    &--open {
        .burger-menu__item:nth-of-type(1) {
            width: 0;
        }

        .burger-menu__item:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(45deg);
            left: 50%;
        }

        .burger-menu__item:nth-of-type(3) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(-45deg);
            left: 50%;
        }
    }
}

.menu {
    position: relative;

    &__wrap {
        position: fixed;
        background: #D02B2B;
        height: 100vh;
        width: 100vw;
        z-index: 40;
        margin: 0;
        top: 0;
        right: 0;
        clip-path: circle(0px at calc(100vw - 54px) 50px);
        transition: all 1s ease-out;
        pointer-events: none;


        &--open {
            clip-path: circle(max(100vh, 100vw) at 70% 30%);
            pointer-events: all;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 40px;
        text-align: center;
        margin: 0;
    }


    &__item {
        opacity: 0;

        &:nth-child(1) {
            transition: all .5s ease .4s;
        }

        &:nth-child(2) {
            transition: all .5s ease .6s;
        }

        &:nth-child(3) {
            transition: all .5s ease .8s;
        }

        &:nth-child(4) {
            transition: all .5s ease 1s;
        }

        &--fade {
            opacity: 1;
        }
    }

    &__link {
        color: #fff;
        font-family: 'Risque';
        font-size: 40px;
    }
}


.first-screen {

    &__stars {}
}

.presents {
    position: relative;
    padding: 60px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;


    &__header {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url("../images/presents-screen.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }

    &__inner {
        position: relative;
        z-index: 30;
    }

    &__title {
        margin: 0 0 25px 0;
    }

    &__texts {
        margin: 0 0 73px 0;
    }

    &__subtitle {
        margin: 0 0 34px 0;
    }

    &__icons {}

    &__swiper-wrapper {}

    &__card {}

    &__photo {
        width: 150px;
        height: 240px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    &__subtitle-tub {
        margin: 0 0 34px 0;
        font-family: Risque;
        font-size: 42px;
        text-align: center;
    }

    &__text {
        margin: 0 auto;
        width: 301px;
    }

    .swiper-pagination-bullet-active {
        border: 5px solid #fff;
        background-color: transparent;
        padding: 0;
    }
}

.presents-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0;
    position: static;

    &__item {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-shadow: 4px 10px 15px 0px rgba(0, 0, 0, 0.25) inset;
        background-color: #fff;
        cursor: pointer;
        opacity: 1;
        padding: 5px;

        &--clicked {
            background-color: transparent;
            border: 5px solid;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            padding: 5px;
        }
    }
}



.form-block {
    position: relative;
    padding-bottom: 40px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: column;

    &__header {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url("../images/form-blok.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 53% 80%;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }

    &__title {
        margin: 0;
        padding: 82px 0 24px 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__btn {
        padding: 8px 12px;
        border-radius: 15px;
        color: #fff;
        background-color: #D02B2B;
        cursor: pointer;
        margin-top: 30px;
        text-align: center;

        &:hover {
            background-color: #8B1D1D;
            transition: all 1s;
        }
    }
}

.form {

    &__input,
    &__textarea {
        border-radius: 15px;
        border: 3px solid #FFF;
        background: rgba(196, 196, 196, 0.00);
        padding: 15px 60px 15px 25px;
        max-width: 395px;
        color: #fff;

        &::placeholder {
            color: #fff;
            font-family: Roboto;
            font-size: 20px;

        }

        &:focus {
            outline-color: gold;
        }
    }

    &__select-box {}

    &__select-menu {}

    &__textarea {
        border-radius: 15px;
        border: 3px solid #FFF;
        background: rgba(196, 196, 196, 0.00);
    }

    &__label {
        font-size: 18px;
        padding-left: 28px;
        color: rgba(208, 43, 43, 1);
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);

        &:focus+.form__checkbox-style {
            outline: 1px solid gold;
        }

        &:checked+.form__checkbox-style::before {
            content: "";
            position: absolute;
            background-image: url("../images/check.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 14px;
            height: 10px;
            z-index: 30;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:checked+.form__checkbox-style::after {
            content: '';
            background-color: #fff;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 2px;
        }
    }

    &__checkbox-style {
        width: 20px;
        height: 20px;
        border: 2px solid rgba(208, 43, 43, 1);
        position: absolute;
        left: 0;
        border-radius: 4px;
    }
}
